<section>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/bg4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 style="color: brown; font-weight: bold;">Welcome</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                    <button type="button" class="btn btn-success">Menu</button>
                    <button type="button" class="btn btn-danger">Order</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/bg2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 style="color: brown; font-weight: bold;">Welcome</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                    <button type="button" class="btn btn-success">Menu</button>
                    <button type="button" class="btn btn-danger">Order</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/bg3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 style="color: brown; font-weight: bold;">Welcome</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                    <button type="button" class="btn btn-success">Menu</button>
                    <button type="button" class="btn btn-danger">Order</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


  
{{!-- //menu section --}}
<div id="alerts" class="alert bg-success my-3 ms-2 d-inline-block rounded-pill " role="alert" ><i class="bi bi-basket-fill"></i></div>
<div>
    <h1 class="text-center my-3">Our Menu</h1>
   
</div>
 

<section class="container mb-5 menu">
    <div class="row justify-content-center">
        {{#each results}}
        <div class="col-sm-3 mb-5 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid bg-image hover-zoom" src="images/{{this.image}}"
                    data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">{{this.name}}</h4>
                    <span>{{this.size}}</span>
                    <div>
                        <span>{{this.price}}</span><br>
                    </div>
                    <button data-pizza="{{JSONstringify this}}" type="button"
                        class="add-to-cart btn btn-outline-success mt-3">+ Add</button>

                </div>
            </div>
        </div>
        {{/each}}





        {{!-- <div class="col-sm-3 mb-4 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid" src="images/piz1.jpg" data-holder-rendered="true"
                    style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">Margherita</h4>
                    <span>Small</span>
                    <div>
                        <span>Rs 250</span><br>
                        <a href="#" class="btn btn-outline-success mt-5">+ Add</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-4 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid" src="images/piz1.jpg" data-holder-rendered="true"
                    style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">Card title</h4>

                    <span>Small</span>
                    <div d-flex>
                        <span>Rs 250</span><br>
                        <a href="#" class="btn btn-outline-success mt-5">+ Add</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3 mb-4 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid" src="images/piz1.jpg" data-holder-rendered="true"
                    style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">Card title</h4>

                    <span>Small</span>
                    <div class="">
                        <span>Rs 250</span><br>

                        <a href="#" class="btn btn-outline-success mt-5">+ Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid" src="images/piz1.jpg" data-holder-rendered="true"
                    style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">Card title</h4>
                    <span>Small</span>
                    <div d-flex>
                        <span>Rs 250</span><br>
                        <a href="#" class="btn btn-outline-success mt-5">+ Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid" src="images/piz1.jpg" data-holder-rendered="true"
                    style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">Card title</h4>

                    <span>Small</span>
                    <div d-flex>
                        <span>Rs 250</span><br>
                        <a href="#" class="btn btn-outline-success mt-5">+ Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid" src="images/piz1.jpg" data-holder-rendered="true"
                    style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">Card title</h4>
                    <span>Small</span>
                    <div d-flex>
                        <span>Rs 250</span><br>
                        <a href="#" class="btn btn-outline-success mt-5">+ Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 py-3 py-sm-0">
            <div class="card h-100 shadow card-body">
                <img class="card-img-top img-fluid" src="images/piz1.jpg" data-holder-rendered="true"
                    style="height: 180px; width: 100%; display: block;">
                <div class="card-block text-center">
                    <h4 class="card-title">Card title</h4>

                    <span>Small</span>
                    <div d-flex>
                        <span>Rs 250</span><br>
                        <a href="#" class="btn btn-outline-success mt-5">+ Add</a>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>
</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/app.js" type="module"></script>